spring:
  database:
    url: jdbc:mariadb://3.35.197.144:3306/order
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1234
  jpa:
    open-in-view: false
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update



jwt:
  secret:
   key: d800a2ceefa41ace0235c35c7b9e60be373e5a3b74b62803823f7a2a6e7c2f08
